###############################################################
# bochsrc file for pragmalinux disk image.
#
# This file is provided both as .bochsrc and bochsrc so
# that it works on win32 and unix.
###############################################################

megs: 256

# disk images
ata0: enabled=1, ioaddr1=0x1f0, ioaddr2=0x3f0, irq=14
ata0-master: type=cdrom, path="./rbrs.iso", status=inserted

# where do we send log messages?
log: bochs.log
#log: /dev/stdout

panic: action=ask

boot: cdrom
